<div id="delete_category_modal" style="display: none;">
    <h4>Warning.  Deleting this Category will result in all Expenses with this Category to also be Delete.  You have the option to transfer the Expenses to another Category.</h4>
    <a>Transfer</a>
    <a>No, Delete Everything</a>
</div>