<div id="delete_category_modal" style="display: none;z-index: 3;border: black solid 2px">
    <i id="delete-category-hide-button" class="bi bi-x-square-fill" style="margin: 5%;display: flex;justify-content:end;"></i>
    <h4 style="margin: 10%;">Warning.  Deleting this Category will result in all Expenses with this Category to also be Delete.  You have the option to transfer the Expenses to another Category.</h4>
    <a style="margin: 10%;" class="d-block btn btn-secondary">Transfer</a>
    <a style="margin: 10%;" class="d-block row btn btn-danger">No, Delete Everything</a>
</div>

<div id="delete_category_modal_mask" style="display:none;z-index: 2;"></div>