<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] My Budget</title>
    <!--LINKS-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/buttons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ripple-effect.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/expenseFormStyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/changeMonthFormStyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    
</head>

<body>
    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Budget_Man</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Expenses"
                                asp-action="Index">Expenses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="FixedExpenses"
                                asp-action="Index">Fixed Expenses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Category"
                                asp-action="Index">Categories</a>
                        </li>
                        <li>
                            <div class="d-flex">
                                <label for="" class="text-dark"/>Currency: </label>
                                <p id="currency_selected" class="text-dark mx-3"></p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <label for="currencySelection" class="text-dark">Select Currency</label>
                                <select class="" onchange="currencyChange()" name="currencySelection" id="currencySelection" >
                                    <option value="USD">$</option>
                                    <option value="GBP" >£</option>
                                    <option value="JPY">￥</option>
                                    <option value="EUR">€</option>
                                </select>
                            </div>
                        </li>   
                        <li>
                            <a class="btn" onclick="screenSizeCheck()">Screen Size</a>
                        </li>

                         @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index" 
                                    title="Welcome">Welcome @User.Identity.Name!</a>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline" asp-controller="Account" asp-action="Logout">
                                    <button type="submit" class="nav-link btn btn-link text-info">Logout</button>
                                </form>
                            </li>
                        }
                    else {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account"
                                    asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account"
                                    asp-action="Register">Register</a>
                            </li>
                    }       
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="p-3 container border border-3 border-primary rounded-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2024 - Budget_Man - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

<!--SCRIPTS-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/ripple-effect.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/simple-notif.js" asp-append-version="true"></script>
    <script>
        //set ripple effect for deleting elements
        $(document).ready(function () {
            $(".ripple-effect").rippleEffect();
        });

        
    </script>
    
     @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
