<h1>expenses</h1>
<div class="containe ">
    <div id="createEditExpensesForm"  class="justify-content-center" hidden>
        <partial name="./Partial/createEditExpensesForm.cshtml" />
    </div>

    <div>
        <button id="createEditExpensesFormButton" class="btn btn-outline-light my-3 text-center">New Expense <i
                class="bi bi-plus-circle"></i></button>
    </div>
    <div>
        <h2>Week 1</h2>
    </div>
    <partial name="./Partial/expensesTables.cshtml" />
</div>

<!--SCRIPTS-->
<partial name="./Scripts/IndexTableLoad" />