@model createExpenseForm

<h1 class="d-flex justify-content-center my-5">Expenses for @ViewData["month"] @ViewData["year"]</h1>
<div class="container ">
    <div id="createEditExpensesForm" hidden  class=" bg-primary rounded-5" style="z-index: 1; position: fixed;border: black;border-style:dashed;border-radius:inherit" >
        <!--
            await Html.PartialAsync("./Partial/createEditExpensesForm.cshtml", model)
            
        -->
        <partial name="./Partial/createEditExpensesForm.cshtml" model="@Model" />
    </div>
     <div class="row">
        <button id="createEditExpensesFormButton" class="btn btn-outline-light my-3 text-center d-flex justify-content-center ">New Expense <i
                class="bi bi-plus-circle"></i></button>
     </div>
    <div class="row">
        <h2 class="d-flex justify-content-center"><span class="align-middle">Week 1</span></h2>
    </div>
    <partial name="./Partial/expensesTables.cshtml" model="@Model" />
</div>
<!--SCRIPTS-->
<partial name="./Scripts/Script_IndexTableLoad" />
