<form id="edit_category_modal_form" style="display: none;" method="post" asp-controller="Category" asp-action="Edit">
    <input  name="Id" class="form-control" hidden>
    <label for="Name">Edit Category Name</label>
    <input class="bg-primary form-control" name="Name" type="text" >
    <!--DISPLAY name-->
    <div class="btn-group my-1">
        <button class="bg-primary btn offset-1 col-2" onclick="">done</button>
        <a class="bg-secondary btn offset-1 col-3">back</a>
    </div>
</form>