@model createExpenseForm
<div class="container">
    <form id="expenseForm" class="p-2 m-4 col-10  bg-primary text-light" action="">
        <div class="col-12 d-flex justify-content-end">
            <h1><i id="expense-form-hide-button" class="bi bi-x-square-fill"></i></h1>
        </div>
        <div class="d-flex justify-content-center">
            <h1>@Model.type @Model.month</h1>
            <hr>
        </div>

        <input name="month" value=@Model.month hidden>

        <div id="expenseFormContents">
            <div class="col-4 customFormControl">
                <label for=" type">Week</label>
                <div class="text-center">
                    <select aria-selected="true" class="text-center" name="week" id="expense-week">
                        <option value="1">one</option>
                        <option value="2">two</option>
                        <option value="3">three</option>
                        <option value="4">four</option>
                        <option value="5">five</option>
                    </select>
                </div>
            </div>

            <div class="col-4 customFormControl">
                <label for=" type">Type</label>
                <div class="text-center">
                    <select class="text-center" name="type" id="expense-type">
                        @foreach (var obj in Model.categories)
                        {
                            var value = @obj.Id + "." + obj.Name;
                            <option value=@value>@obj.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-4 customFormControl">
                <label for="amount">Amount</label>
                <div class="text-center">
                    <input type="number" name="amount" id="expense-amount">
                </div>
            </div>

            <div class="col-4 customFormControl">
                <label for="date">Date</label>
                <div class="text-center">
                    <input type="date" name="date" id="expense-date">
                </div>
            </div>

            <div class="col-4 form-control">
                <label for="description">Description</label>
                <div class="text-center">
                    <textarea name="description" id="expense-description" cols="20" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div>
                <h4 id="expenseListCount">Items in list: 0</h4>
            </div>
            <div class="text-center row d-block">
                <a id="expense-form-append-list-button" class="btn btn-outline-dark btn-lg">Add Item</a>
                <a id="expense-form-display-list-button" class="btn btn-outline-dark btn-lg offset-1">View List</a>
            </div>
        </div>
    </form>

    <div id="createExpenseStagingArea" hidden
        style="height:300px; overflow-y: scroll;scrollbar-width: thin;scrollbar-color: #44d9e8 #6f42c1">
        <ul style="padding: 15px; ">

        </ul>
    </div>
</div>

<partial name="../Scripts/Script_CreateEditExpenseForm.cshtml" />