@* <tr id="expense_table_modal" class="row expense-table-row" hidden>
    <td class="col-2 expense-table-icons" onclick="toggle_edit_expense_form(@jsonString)">
        <span class="bi bi-pencil rounded-5 btn-dark"></span>
    </td>
    <td class="col-2 expense-table-icons"
        onclick="toggle_delete_expense_modal(@expense_id,@expense_edit_delete_id, @obj.Id)">
        <span class="bi bi-trash rounded-5 btn-dark"></span>
    </td>
    <td class="col-2 expense-table-icons" onclick="toggle_edit_delete_expense(@obj.Id,true)">
        <span class="bi bi-x-circle-fill rounded-5 btn-dark"></span>
    </td>
</tr> *@

<div id="expense_table_modal" class="row expense-table-row" style="display: none;">
    <a class="col-2 expense-table-icons" >
        <span class="bi bi-pencil rounded-5 btn-dark"></span>
    </a>
    <a class="col-2 expense-table-icons"
       >
        <span class="bi bi-trash rounded-5 btn-dark"></span>
    </a>
    <a class="col-2 expense-table-icons" >
        <span class="bi bi-x-circle-fill rounded-5 btn-dark"></span>
    </a>
</div>

@* onclick="toggle_edit_expense_form(@jsonString)"
 onclick="toggle_delete_expense_modal(@expense_id,@expense_edit_delete_id, @obj.Id)"
 onclick="toggle_edit_delete_expense(@obj.Id,true)"
  *@