@* This modal will be attached to the expense table row which was clicked *@

<div id="expense_table_modal" class="row expense-table-row" style="display: none;">
    @* Edit button *@
    <a class="col-2 expense-table-icons" >
        <span class="bi bi-pencil rounded-5 btn-dark"></span>
    </a>
    @* Delete button *@
    <a class="col-2 expense-table-icons"
       >
        <span class="bi bi-trash rounded-5 btn-dark"></span>
    </a>
    @* back button *@
    <a class="col-2 expense-table-icons" >
        <span class="bi bi-x-circle-fill rounded-5 btn-dark"></span>
    </a>
</div>

@* Create an anchor, for When the user deletes A row then the expense_table_modal (above) will get anchored to this *@

<div id="expense_table_modal_anchor" style="display: none;">

</div>
