<div id="expenses_options_start">
    <!-- CHANGE MONTH FORM BUTTON -->
    <div class="row">
        <button id="changeMonthFormButton"
            class="btn btn-outline-light my-3 text-center d-flex justify-content-center ">Switch Month<i
                class="bi bi-calendar3"></i></button>
    </div>

    <!-- CREATE Transaction(s) FORM BUTTON -->
    <div class="row">
        <button id="createEditExpensesFormButton"
            class="btn btn-outline-light my-2 text-center d-flex justify-content-center ">New Transaction(s) <i
                class="bi bi-plus-circle"></i></button>
    </div>

    <!-- CREATE single Transaction FORM BUTTON -->
    <div class="row">
        <button id="newExpensesFormButton1"
            class="btn btn-outline-light my-2 text-center d-flex justify-content-center ">New Transaction<i
                class="bi bi-plus-circle"></i></button>
    </div>

    <!-- Import Fixed Expenses Button -->
    <div class="row">
        <button id="importFixedExpensesButton"
            class="btn btn-outline-light my-2 text-center d-flex justify-content-center">Import Fixed Expenses<i
                class="bi bi-plus-circle"></i></button>
    </div>
</div>