@{
    var user = await UserManager.GetUserAsync(User);
    var currency = user.currency;
}

<div class="mb-2" style="display: flex;justify-content: center;font-size:large;">
    <table class="largeScreenLargeFont">
        <tr>
            <th style="border: 2px rgba(111,66,193,1) solid;">Total Expenses</th>
            <th style="border: 2px rgba(111,66,193,1) solid;">Fixed Expenses</th>
            <th style="border: 2px rgba(111,66,193,1) solid;">Income</th>
            <th style="border: 2px rgba(111,66,193,1) solid;">Difference</th>
        </tr>
        <tr>
            <td style="border: 2px rgba(111,66,193,1) solid;text-align: center;">@currency @Model.GetSumOfExpenses()</td>
            <td style="border: 2px rgba(111,66,193,1) solid;text-align: center;">@currency @Model.GetSumOfFixedExpenses()</td>
            <td style="border: 2px rgba(111,66,193,1) solid;text-align: center;">@currency @Model.GetSumOfIncome()</td>
            <td style="border: 2px rgba(111,66,193,1) solid;text-align: center;">@currency @Model.sumOfDifferences()</td>
        </tr>
    </table>
</div>