<div style="border: 1px green solid;" >
    <li>
        <div class="d-flex">
            <label for="" class="text-dark">Currency: </label>
            <p id="currency_selected" class="text-dark mx-3"></p>
        </div>
    </li>
    <li>
        <div>
            <label for="currencySelection" class="text-dark">Select Currency</label>
            <select class="" onchange="currencyChange()" name="currencySelection" id="currencySelection" >
                <option id="currency_option_usd" value="USD">$</option>
                <option id="currency_option_gbp" value="GBP" >£</option>
                <option id="currency_option_jpy" value="JPY">￥</option>
                <option id="currency_option_eur" value="EUR">€</option>
            </select>
        </div>
    </li>  
</div>