

<nav id="main_navigation_bar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <partial name="./NavigationBrand.cshtml" />          

        <!--MAIN NAVIGATION BAR LAYOUT BEGINS-->
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">   

        @if (SignInManager.IsSignedIn(User))
            {
                var user = await UserManager.GetUserAsync(User);
                
                // Once we sign in, set our working year for JS functionality across app
                <script>
                    setOurWorkingYear(@user.year)
                </script>
                
                <partial name="./NavigationTabs.cshtml" model="@user.year"/>
                <partial name="./NavigationCurrency.cshtml" />
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index" 
                        title="Welcome">Welcome @user.DisplayName !</a>
                </li>
                <li class="nav-item">
                    @* <form class="form-inline" asp-controller="Account" asp-action="Logout">
                        <button type="submit" class="nav-link btn btn-link text-info">Logout</button>
                    </form> *@
                    <button class="nav-link" style="font-size:x-large; border: black solid 1px" onclick="toggle_logout_modal()">Logout</button>
                </li>         
            }
        else 
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Account"
                        asp-action="Login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Account"
                        asp-action="Register">Register</a>
                </li>
            }       
        </ul>  
        </div>      
    </div>
</nav>