@model int

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Expenses"
        asp-action="Index">Expenses</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="FixedExpenses"
        asp-action="Index">Fixed Expenses</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Category"
        asp-action="Index">Categories</a>
</li>
<li class="nav-item">
    <a id="selectYearLabel2" class="nav-link text-secondary">Year @Model</a>
</li>