   <div class="m-3">
        <div class="row">
             <h4 id="overview_table_ChangeYearLabel" class="col-2">2024</h4>
            <button id="overview_table_ChangeYearButton" class="col-2 btn btn-primary">Change <i class="bi bi-pencil"></i></button>
        </div>
        <form id="overview_table_ChangeYearForm" style="display: none;" asp-controller="Account" asp-action="ChangeYear">
            <label for="">Year: </label>
            <input id="overview_table_ChangeYearForm_input" type="number" name="year" >
            <button class="btn btn-primary">Go <i class="bi bi-arrow-down-left-square"></i></button>
            <button class="btn btn-dark">Cancel <i class="bi bi-ban"></i></button>
        </form>
        
    </div>