@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A Personal Budget Application</p>
    <p>Yearly Overview</p>
</div>

<partial name="Overview/View/TransactionsOverview.cshtml" />


