@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your Budget</h1>
   <ul>
        <li>A Personal Budget Application</li>
        <li>View your Yearly Overview</li>
        <li>Customize your categories, fixed expenses</li>
        <li>Go to Expenses to see your monthly spending habits</li>
   </ul>
</div>


