@model createExpenseForm;

<div class="container">
    <div class="col-12 d-flex justify-content-end">
        <h1 style="padding-top: 7px;padding-right: 7px;"><i id="edit-expense-form-hide-button"
                class="bi bi-x-square-fill"></i></h1>
    </div>
    <form id="editExpenseForm_Form" class="p-2 m-4 col-10  bg-primary text-light" asp-action="Edit"
        asp-controller="Expenses">
        <div class="d-flex justify-content-center">
            <hr>
        </div>

        <input name="currency" id="CreateEditExpenseForm_Currency" hidden>



        <partial name="./Partial/EditWeek.cshtml" />
        <partial name="./Partial/EditMonth.cshtml" />
        <partial name="./Partial/EditCategory.cshtml" />

        <div class="col-12">
            <button>submit</button>
        </div>
    </form>
</div>