<div id="editExpenseFormContents">
    <div class="col-4 customFormControl">
        <label for="currencySelection" class="text-center">Currency</label>
        <select name="currency" id="edit_expense_currency">
            <option id="edit_expense_form_option_currency_usd" value="$">$</option>
            <option id="edit_expense_form_option_currency_gbp" value="£">£</option>
            <option id="edit_expense_form_option_currency_jpy" value="￥">￥</option>
            <option id="edit_expense_form_option_currency_eur" value="€">€</option>
        </select>
    </div>
</div>