<div id="editExpenseFormContents">
    <div class="col-4 customFormControl">
        <label for=" type">Description</label>
        <div class="text-center">
            <input type="text" name="description" title="double click to expand" id="edit_expense_description">
        </div>
    </div>
</div>