
      <div id="editExpenseFormContents">
            <div  class="col-4 customFormControl">
                <label for=" type">Month</label>
                <input id="editExpenseForm_month" name="month" hidden />
                <div  class="row">
                    <a class="btn btn-info col-3" onclick="edit_expense_form_change_month(false)"><i class="bi bi-caret-left-square-fill"></i></a>
                    <h4 id="editExpenseForm_month_displayName" class="col-6 text-center">month</h4>
                    <a class="btn btn-info col-3" onclick="edit_expense_form_change_month(true)"><i class="bi bi-caret-right-square-fill"></i></a>
                </div>
            </div>
        </div>

  