
      <div id="editExpenseFormContents">
            <div class="col-4 customFormControl">
                <label for=" type">Amount</label>
                <div class="text-center">
                    <input type="text" name="amount" id="edit_expense_amount">
                </div>
            </div>
        </div>

  