@using System.Text.Json


@{
    var categories2 = JsonSerializer.Serialize(ViewData["categories"]);
    var categories3 = ViewData["categories"];
}



<div id="editExpenseFormContents">
    <div class="col-4 customFormControl">
        <label for=" type">Category</label>
        <div class="text-center">
            <input id="editExpenseForm_category" hidden type="text" name="category">
            <div class="row">
                <h4 id="editExpenseForm_category_selected" style="border: white solid;" onclick="edit_expense_form_load_category_list()">Category</h4>
                <a onclick="edit_expense_form_load_category_list()"><i class="bi bi-caret-down-fill "></i></a>
            </div>
            <ul id="editExpenseForm_category_dropdown_list" hidden class="text-center" 
                style="width: 200px; 
                       height: 300px; 
                       overflow-y: auto;
                       scrollbar-width: 1px; 
                       scrollbar-color: salmon; 
                       border: white solid;
                       display: flex;
                       justify-content: center;
                       flex-direction: column ">
                @foreach (var item in Model.categories)
                {
                    var item_in_play = JsonSerializer.Serialize(item);
                    <a style="width: 150px; margin: 2px" class="btn btn-light row" onclick="edit_expense_form_load_category(@item_in_play)">
                        @item.Name
                    </a>
                }
            </ul>

        </div>
    </div>
</div>