<div id="editExpenseFormContents">
    <div class="col-4 customFormControl">
        <label for=" type">Date</label>
        <div class="text-center">
            <input type="date" name="date" id="edit_expense_date">
        </div>
    </div>
</div>