   <div id="editExpenseFormContents">
            <div class=" customFormControl">
                <label for=" isIncomeSelection" class="text-center">is Income?</label>
                    <select name="isIncome" id="edit_expense_isIncome">
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>
            </div>
    </div>